.about-banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}

.breadcrumb-text {
  font-size: 1.1rem;
}

.contact-container {
  background-color: #f6f7fa;
  color: #1a1a1a;
  font-family: 'Segoe UI', sans-serif;
}

.input-border {
  border: 2px solid #0b2a7c !important;
  border-radius: 8px;
  font-weight: 500;
  color: #000;
}

.input-border::placeholder {
  color: #a9a9a9;
  text-transform: uppercase;
  font-weight: 400;
}

.contact-details {
  padding-left: 20px;
  font-size: 16px;
}
.contact-details h6 {
  color: #002868; 
}

.contact-details p {
  font-size: 16px;
  color: #2c2c2c;
}

#scale-up-center {
	-webkit-animation: scale-up-center 0.5s ease-in-out both;
	        animation: scale-up-center 0.5s ease-in-out both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
