.service-card {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

.service-label {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #002366; 
  color: #fff;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  border-top-left-radius: 6px;
}